footer {
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 60px;
    position: fixed;
    bottom: 0;
}